<html>
<head>



</head>
<body>
<header id="fh5co-header" role="banner">
  <div class="container">

<nav class="navbar navbar-expand-md navbar-dark fixed-top  navbar-custom" style="border-radius: 10px; padding: 18px;margin-left: 37px;margin-right: 9px;margin-top: 34px;left: -26px;">
  <img src="../../assets/vm1.png" height="170px" width="190px" style="margin-top: 19px;"/>



  <div class="collapse navbar-collapse" id="navbarsExampleDefault">


    <ul class="navbar-nav mr-auto">
      <li><a [routerLink]="['/']" class="nav-link" href="#" style="margin-left:  -8px;">Home</a></li>
      <li><a [routerLink]="['/about']" class="nav-link" href="#">About<span class="sr-only">(current)</span></a></li>
      <li><a [routerLink]="['/register']" class="nav-link" href="#">Register</a></li>
      <li><a [routerLink]="['/login']" class="nav-link" href="#">Login</a></li>
      <li><a [routerLink]="['/bussiness']" class="nav-link" href="#">Bussiness</a></li>
      <li><a [routerLink]="['/contact']" class="nav-link" href="#">Contact</a></li>
      <li><a [routerLink]="['/parent-allocation']" class="nav-link" href="#">ParentAllocation</a></li>
      <li><a [routerLink]="['/edit-profile']" class="nav-link" href="#">EditProfile</a></li>
      <li><a [routerLink]="['/my-request']" class="nav-link" href="#">MyRequest</a></li>
      <li><a [routerLink]="['/other-request']" class="nav-link" href="#">OtherRequest</a></li>
      <li><a [routerLink]="['/view-tree']" class="nav-link" href="#">ViewTree</a></li>
      <li><a [routerLink]="['/']" class="nav-link" href="#">LogOut</a></li>




    </ul>

  </div>

</nav>

  </div>
</header>





</body>
</html>
