<!-- <section class="content-header">
    <h1>{{pageTitle}}</h1>
  </section>
  <section class="content-header">
    <div class="form">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">{{locale.homeWork}}</h3>
        </div>
        <form class="form-horizontal" id="homeWorkForm" #homeWorkForm="ngForm" (ngSubmit)="addHomeWork(homeWorkForm.value)">
          <div class="box-body">
            <div class="form-group">
              <label for="homeWorkDesc" class="col-sm-2 control-label">{{formLocale.home_work_desc}}</label>
              <div class="col-sm-4">
                <textarea class="form-control" id="homeWorkDesc" name="homeWorkDesc" placeholder="{{formLocale.home_work_desc_placeholder}}"
                  [disabled]="viewFlag" #homeWorkDesc="ngModel" [(ngModel)]="homeW.homeWorkDesc"></textarea>
              </div>
              <label for="homeWorkDate" class="col-sm-2 control-label">{{formLocale.home_work_date}}</label>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-addon">
                    <a (click)="homeWorkDate.toggle()">
                      <i class="fa fa-calendar"></i>
                    </a>
                  </div>
                  <input class="form-control" placeholder="yyyy-mm-dd" name="homeWorkDate" [(ngModel)]="homeW.homeWorkDate" ngbDatepicker #homeWorkDate="ngbDatepicker"
                    [disabled]="viewFlag">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="classes" class="col-sm-2 control-label">{{formLocale.home_work_class}}</label>
              <div class="col-sm-4">
                <select class="form-control" id="classes" name="classes" [disabled]="viewFlag" #classes="ngModel" [(ngModel)]="homeW.classId.id">
                  <option value="" disabled selected>{{formLocale.home_work_class_placeholder}}</option>
                  <option *ngFor="let class of classList" [(ngValue)]="class.id">{{class.className}}</option>
                </select>
              </div>
              <label for="division" class="col-sm-2 control-label">{{formLocale.home_work_division}}</label>
              <div class="col-sm-4">
                <select class="form-control" id="division" name="division" [disabled]="viewFlag" #division="ngModel" [(ngModel)]="homeW.division.id">
                  <option value="" disabled selected>{{formLocale.home_work_division_placeholder}}</option>
                  <option *ngFor="let division of divisionList" [(ngValue)]="division.id">{{division.divisionName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="subject" class="col-sm-2 control-label">{{formLocale.home_work_subject}}</label>
              <div class="col-sm-4">
                <select class="form-control" id="subject" name="subject" [disabled]="viewFlag" #subject="ngModel" [(ngModel)]="homeW.subject.subjectId">
                  <option value="" disabled selected>{{formLocale.home_work_subject_placeholder}}</option>
                  <option *ngFor="let subject of subjectList" [(ngValue)]="subject.subjectId">{{subject.subjectName}}</option>
                </select>
              </div>
              <label for="status" class="col-sm-2 control-label">{{formLocale.home_work_status}}</label>
              <div class="col-sm-4">
                <select class="form-control" id="status" name="status" [disabled]="viewFlag" #status="ngModel" [(ngModel)]="homeW.status">
                  <option value="" disabled selected>{{formLocale.home_work_status_placeholder}}</option>
                  <option [ngValue]="true">Completed</option>
                  <option [ngValue]="false">Pending</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="attachmentPic" class="col-sm-2 control-label">{{formLocale.home_work_attachment}}</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="attachmentPic" name="attachmentPic" [disabled]="viewFlag" #attachmentPic="ngModel" [(ngModel)]="homeW.attachmentPic"
                  accept="image/jpeg,image/png">
              </div>
              <div class="media-right">
                <img src="assets/images/Tushar_Upadhyay.jpg" class="media-object" style="width:80px">
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-default" (click)="backToList()">{{formLocale.back_btn}}</button>
            <button *ngIf="action == 'new'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.submit_btn}}</button>
            <button *ngIf="action == 'view'" type="button" class="btn btn-info btn-info pull-right" (click)="backToList()">{{formLocale.ok_btn}}</button>
            <button *ngIf="action == 'edit'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.update_btn}}</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <div class="modal modal-success fade" id="modal-success">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{formLocale.modal_status}}</h4>
        </div>
        <div class="modal-body">
          <h5 *ngIf="action == 'new'">{{locale.homeWork+formLocale.modal_add_msg}} </h5>
          <h5 *ngIf="action == 'edit'">{{locale.homeWork+formLocale.modal_update_msg}} </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" (click)="backToList()">{{formLocale.ok_btn}}</button>
        </div>
      </div>
    </div>
  </div> -->
