<!-- Author : Tushar Upadhyay -->
<section class="content-header">
  <h1>{{pageTitle}}</h1>
</section>
<section class="content-header">
  <div class="form">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{{locale.attendance}}</h3>
      </div>
      <form class="form-horizontal" id="attendanceForm" #attendanceForm="ngForm" (ngSubmit)="addAttendance(attendanceForm.value)">
        <div class="box-body">
          <div class="form-group">
            <label for="attendanceDate" class="col-sm-2 control-label">{{formLocale.attendance_date}}</label>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <a (click)="attendanceDate.toggle()">
                    <i class="fa fa-calendar"></i>
                  </a>
                </div>
                <input class="form-control" placeholder="yyyy-mm-dd" name="attendanceDate" [(ngModel)]="attendance.attendanceDate" ngbDatepicker
                  #attendanceDate="ngbDatepicker" [disabled]="viewFlag">
              </div>
            </div>
            <label for="attendanceTime" class="col-sm-2 control-label">{{formLocale.attendance_time}}</label>
            <div class="col-sm-4">
              <ngb-timepicker [seconds]="true" id="attendanceTime" name="attendanceTime" [(ngModel)]="attendance.attendanceTime" [disabled]="viewFlag"
                #attendanceTime="ngModel"></ngb-timepicker>
            </div>
          </div>
          <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">{{formLocale.attendance_subject}}</label>
            <div class="col-sm-3">
              <select class="form-control" id="subject" name="subject" [disabled]="viewFlag" #subject="ngModel" [(ngModel)]="attendance.subjectId.subjectId">
                <option value="" disabled selected>{{formLocale.attendance_subject_placeholder}}</option>
                <option *ngFor="let subject of subjectList" [(ngValue)]="subject.subjectId">{{subject.subjectName}}</option>
              </select>
            </div>
            <label for="teacher" class="col-sm-2 control-label">{{formLocale.attendance_teacher}}</label>
            <div class="col-sm-3">
              <select class="form-control" id="teacher" name="teacher" [disabled]="viewFlag" #teacher="ngModel" [(ngModel)]="attendance.teacherId.teacherId">
                <option value="" disabled selected>{{formLocale.attendance_teacher_placeholder}}</option>
                <option *ngFor="let teacher of teacherList" [(ngValue)]="teacher.teacherId">{{teacher.firstName + ' '+ teacher.lastName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="classes" class="col-sm-2 control-label">{{formLocale.attendance_class}}</label>
            <div class="col-sm-3">
              <select class="form-control" id="classes" name="classes" [disabled]="viewFlag" #classes="ngModel" [(ngModel)]="attendance.classes.id">
                <option value="" disabled selected>{{formLocale.attendance_class_placeholder}}</option>
                <option *ngFor="let class of classList" [(ngValue)]="class.id">{{class.className}}</option>
              </select>
            </div>
            <label for="division" class="col-sm-2 control-label">{{formLocale.home_work_division}}</label>
            <div class="col-sm-3">
              <select class="form-control" id="division" name="division" [disabled]="viewFlag" #division="ngModel" [(ngModel)]="attendance.division.id">
                <option value="" disabled selected>{{formLocale.home_work_division_placeholder}}</option>
                <option *ngFor="let division of divisionList" [(ngValue)]="division.id">{{division.divisionName}}</option>
              </select>
            </div>
            <button type="button" class="btn btn-success list-add-btn right-float" (click)="getStudents()">
              <i class="fa fa-refresh"></i> GET Students</button>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="table-responsive table-fixed">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Seq No.</th>
                      <th>Student Name</th>
                      <th>Present</th>
                      <th>Absent</th>
                      <th>Leave</th>
                      <th>Holiday</th>
                    </tr>
                    <tr *ngIf="studentAttendanceList.length > 0">
                      <td></td>
                      <td>Check All</td>
                      <td>
                        <input type="radio" name="attendance" (change)="selectAll('P')">
                      </td>
                      <td>
                        <input type="radio" name="attendance" (change)="selectAll('A')">
                      </td>
                      <td>
                        <input type="radio" name="attendance" (change)="selectAll('L')">
                      </td>
                      <td>
                        <input type="radio" name="attendance" (change)="selectAll('H')">
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container>
                      <tr *ngFor="let studentAttd of studentAttendanceList; let i = index" [attr.data-index]="i">
                        <td>{{i+1}}</td>
                        <td>{{studentAttd.student.firstName + ' ' + studentAttd.student.lastName}}</td>
                        <td>
                          <input type="radio" name="attendance+{{i+1}}" [value]="'P'" (change)="onSelection(studentAttd,'P')" [ngModel]="studentAttd.attandandceFlag">
                        </td>
                        <td>
                          <input type="radio" name="attendance+{{i+1}}" [value]="'A'" (change)="onSelection(studentAttd,'A')" [ngModel]="studentAttd.attandandceFlag">
                        </td>
                        <td>
                          <input type="radio" name="attendance+{{i+1}}" [value]="'L'" (change)="onSelection(studentAttd,'L')" [ngModel]="studentAttd.attandandceFlag">
                        </td>
                        <td>
                          <input type="radio" name="attendance+{{i+1}}" [value]="'H'" (change)="onSelection(studentAttd,'H')" [ngModel]="studentAttd.attandandceFlag">
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="button" class="btn btn-default" (click)="backToList()">{{formLocale.back_btn}}</button>
          <button *ngIf="action == 'new'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.submit_btn}}</button>
          <button *ngIf="action == 'view'" type="button" class="btn btn-info btn-info pull-right" (click)="backToList()">{{formLocale.ok_btn}}</button>
          <button *ngIf="action == 'edit'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.update_btn}}</button>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="modal modal-success fade" id="modal-success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{formLocale.modal_status}}</h4>
      </div>
      <div class="modal-body">
        <h5 *ngIf="action == 'new'">{{locale.attendance+formLocale.modal_add_msg}} </h5>
        <h5 *ngIf="action == 'edit'">{{locale.attendance+formLocale.modal_update_msg}} </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" (click)="backToList()">{{formLocale.ok_btn}}</button>
      </div>
    </div>
  </div>
</div>
