<html>
<head>



</head>
<body>
<header id="fh5co-header" role="banner">
  <div class="alert">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top  navbar-custom" style="border-radius: 10px; padding: 18px;margin-left: 37px;margin-right: 116px;margin-top: 34px;left: 115px;">
      <img src="../../assets/vh_1.png" height="70px" width="150px"/>



      <div class="collapse navbar-collapse" id="navbarsExampleDefault">


        <ul class="navbar-nav mr-auto">
          <li><a [routerLink]="['parent-allocation']" class="nav-link" href="#" style="margin-left: 414px;">parent-allocation</a></li>






        </ul>

      </div>

    </nav>

  </div>
</header>





</body>
</html>
