<section class="content-header">
    <h1>{{locale.head_title}}</h1>
</section>
<section class="content-header">
    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>1</h3>
                <p>{{locale.class_box}}</p>
              </div>
              <div class="icon">
                <i class="fa fa-university"></i>
              </div>
              <a routerLink="../list/class"  routerLinkActive="active" class="small-box-footer">
                {{locale.view_detail}} <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-xs-6">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{teacherLen}}</h3>
                <p>{{locale.teacher_box}}</p>
              </div>
              <div class="icon">
                <i class="fa fa-users"></i>
              </div>
              <a routerLink="../list/teacher"  routerLinkActive="active" class="small-box-footer">
                {{locale.view_detail}} <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-xs-6">
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>4</h3>
                <p>{{locale.student_box}}</p>
              </div>
              <div class="icon">
                <i class="fa fa-child"></i>
              </div>
              <a routerLink="../list/student"  routerLinkActive="active" class="small-box-footer">
                {{locale.view_detail}} <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>5</h3>
                <p>{{locale.driver_box}}</p>
              </div>
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <a routerLink="../list/driver"  routerLinkActive="active" class="small-box-footer">
                {{locale.view_detail}} <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-xs-6">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>5</h3>
                  <p>{{locale.bus_box}}</p>
                </div>
                <div class="icon">
                  <i class="fa fa-bus"></i>
                </div>
                <a routerLink="../list/bus"  routerLinkActive="active" class="small-box-footer">
                  {{locale.view_detail}} <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-xs-6">

                <div class="small-box bg-green">
                  <div class="inner">
                    <h3>5</h3>
                    <p>{{locale.route_box}}</p>
                  </div>
                  <div class="icon">
                    <i class=" fa fa-map-o"></i>
                  </div>
                  <a routerLink="../list/route"  routerLinkActive="active" class="small-box-footer">
                    {{locale.view_detail}} <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
      </div>
    </section>
