<html>
<head>

</head>

<body>
<div id="fh5co-page" style="background-image: url(../../assets/new.svg);right: -321px;left: 257px;margin-right: 133px;margin-left: -393px">
<div class="fh5co-contact animate-box">
  <br><br>


  <div class="container-fluid">
    <h1 style="margin-left: 559px;">Business Plan</h1>

    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table width="90%" class="table table-bordered" style="color:#333; text-align:center !important; overflow-x:auto;">
        <thead>
        <tr style="color:#fff; background-color: #204d74">
          <th style="text-align:center;">Level</th>
          <th style="text-align:center;">PRODUCT COST + DC</th>
          <th  style="text-align:center;">MATRIX</th>
          <th  style="text-align:center;">YOU RECEIVE REWARDS POINTS</th>
          <th  style="text-align:center;">UPGRADE TO REWARDS STAGE</th>
          <th  style="text-align:center;">TOTAL REWARDS POINTS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center" >Level 1</td>
          <td align="center">3550</td>
          <td align="center" >2</td>
          <td align="center" >7100</td>
          <td align="center">500 * 10 Level +1600 = 6600</td>
          <td align="center">500</td>

        </tr>
        <tr>
          <td align="center">Level 2</td>
          <td align="center"></td>
          <td align="center">4</td>
          <td align="center">2000</td>
          <td align="center"></td>
          <td align="center">2000</td>

        </tr>
        <tr>
          <td align="center">Level 3</td>
          <td align="center"></td>
          <td align="center">8</td>
          <td align="center">4000</td>
          <td align="center"> </td>
          <td align="center">4000</td>

        </tr>
        <tr>
          <td align="center">Level 4</td>
          <td align="center"></td>
          <td align="center">16</td>
          <td align="center">8000</td>
          <td align="center"> </td>
          <td align="center">8000</td>

        </tr>

        <tr>
          <td align="center">Level 5</td>
          <td align="center"></td>
          <td align="center">32</td>
          <td align="center">16000</td>
          <td align="center"></td>
          <td align="center">16000</td>

        </tr>


        <tr>
          <td align="center">Level 6</td>
          <td align="center"></td>
          <td align="center">64</td>
          <td align="center">32000</td>
          <td align="center"></td>
          <td align="center">32000</td>
        </tr>


        <tr>
          <td align="center">Level 7</td>
          <td align="center"></td>
          <td align="center">128</td>
          <td align="center">64000</td>
          <td align="center"></td>
          <td align="center">64000</td>

        </tr>
        <tr>
          <td align="center">Level 8</td>
          <td align="center"></td>
          <td align="center">256</td>
          <td align="center">128000</td>
          <td align="center"></td>
          <td align="center">128000</td>

        </tr>
        <tr>
          <td align="center">Level 9</td>
          <td align="center"></td>
          <td align="center">512</td>
          <td align="center">256000</td>
          <td align="center"></td>
          <td align="center">256000</td>

        </tr>
        <tr>
          <td align="center">Level 10</td>
          <td align="center"></td>
          <td align="center">1024</td>
          <td align="center">512000</td>
          <td align="center"></td>
          <td align="center">512000</td>

        </tr>
        <tr>
          <td align="center" >&nbsp;</td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
          <td align="center"><strong>1022500</strong></td>
        </tr>
        <tr>
          <td colspan="6" align="center" bgcolor="#f4f4f4">*<strong> NOTE :</strong> For rewards points 2 Direct members is compulsory.</td>

        </tr>
        <tr>
          <td colspan="6" align="center" bgcolor="#f4f4f4">*<strong>  </strong>On receiving of 1600 rewards points  company will provide the product of Rs 3450/-.</td>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>

  </div>
</div>

</div>
<!-- Tushar Upadhyay -->
<div>
<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Axgtions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td><button (click)="view(user)">View</button></td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>
