/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~ionicons/dist/css/ionicons.min.css';
@import '~admin-lte/dist/css/AdminLTE.min.css';
@import '~admin-lte/dist/css/skins/skin-purple-light.min.css';
@import '~morris.js/morris.css';
@import '~jvectormap/jquery-jvectormap.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import '~bootstrap-daterangepicker/daterangepicker.css';
@import '~admin-lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.content-wrapper{background-color: rgb(255, 255, 255);}
.list-tool-bar{margin: 10px;}
.right-float{float: right;}
.search-bar{padding:5px;margin:auto;width:30%;}
.list-menu-li-margin{margin: 10px;}
.form{margin: 5%;}
.login-form{width: 50%; margin-top: 15%; margin-left: 20%;}
.errorMsgBox {border: 1px solid #C82E2D;}
.errorMsg {color: #C82E2D !important; padding-top: 6px;font-size: 11px;}
agm-map {height: 300px;}
.map{padding: 20px;}
