<div class="form login-form">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{{locale.login}}</h3>
    </div>
    <form class="form-horizontal" id="loginForm" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
      <div class="box-body">
        <div class="alert alert-danger" *ngIf="!user.email && !user.password && errorObj && errorObj.hasError">
          {{errorObj.errorMsg}}
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">{{formLocale.login_email}}</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="{{formLocale.login_email_placeholder}}" required
              #email="ngModel" [(ngModel)]="user.email" [class]="loginForm.submitted && email.errors && email.errors.required ? 'errorMsgBox form-control':'form-control'">
          </div>
          <div class="errorMsg" *ngIf="loginForm.submitted && email.errors && email.errors.required" class="errorMsg">This field is required</div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">{{formLocale.login_pass}}</label>

          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="{{formLocale.login_pass_placeholder}}"
              required #password="ngModel" [(ngModel)]="user.password" [class]="loginForm.submitted && password.errors && password.errors.required ? 'errorMsgBox form-control':'form-control'">
          </div>
          <div class="errorMsg" *ngIf="loginForm.submitted && password.errors && password.errors.required" class="errorMsg">This field is required</div>
          <div class="clearfix"></div>
        </div>
        <div>
          <label for="role" class="col-sm-2 control-label">Role</label>
          <div class="col-sm-10">
            <label class="radio-inline">
              <input type="radio" id="role1" name="role" #role="ngModel" [(ngModel)]="roleVal" value="1">Admin
            </label>
            <label class="radio-inline">
              <input type="radio" id="role2" name="role" #role="ngModel" [(ngModel)]="roleVal" value="2">Teacher
            </label>
            <label class="radio-inline">
              <input type="radio" id="role3" name="role" #role="ngModel" [(ngModel)]="roleVal" value="3">Transport
            </label>
          </div>
          <div class="errorMsg" *ngIf="roleFlag" class="errorMsg">This field is required</div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right">Sign in</button>
      </div>
    </form>
  </div>
</div>
