<html>
<head>

</head>
<body>


<div id="fh5co-page" style="background-image: url(../../assets/new.svg);right: -321px;left: 257px;margin-right: -29px;margin-left: -524px;">
  <div class="container" >



  <div class="panel panel-primary" style="margin-top: 145px">
    <div class="panel-heading" style="padding-left: 528px;">
     Other Request

    </div>
    <div>


    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel-body" >


          <table class="table table-striped">
            <thead>
            <tr>

              <td><b>User Id</b></td>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Contact No.</th>
              <th>E-Mail</th>
              <th>City</th>
              <th>Points</th>
              <th>Status</th>



            </tr>
            </thead>
            <tbody>

              <tr>

                <!--<td>< value="${paymentRequestsForAccept.fromId.userID}"></></td>-->
                <!--<td><c:out value="${paymentRequestsForAccept.fromId.firstName}"></c:out></td>-->
                <!--<td><c:out value="${paymentRequestsForAccept.fromId.lastName}"></c:out></td>-->
                <!--<td><c:out value="${paymentRequestsForAccept.fromId.mobile}"></c:out></td>-->
                <!--<td><c:out value="${paymentRequestsForAccept.fromId.eMail_Id}"></c:out></td>-->
                <!--<td><c:out value="${paymentRequestsForAccept.fromId.city}"></c:out></td>-->
                <!--<td><c:out value="${paymentRequestsForAccept.points}"></c:out></td>-->
                <!--<td>-->
                  <!--<c:out value="${paymentRequestsForAccept.status}"></c:out>-->
                <!--</td>-->


                <form action="ConfirmedRequest.html">
                  <input name="fromId" type="hidden" />
                  <input name="points" type="hidden" />
                  <input name="ConfirmedId" type="hidden" />
                  <td><input  name="Confirmed" type="submit" ></td>
                </form>

              </tr>



            </tbody>
          </table>
        </div>
      </div>


    </div>


  </div>





  <br>
</div>
</div>
</body>
</html>
