<footer id="fh5co-footer" role="contentinfo">
  <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
    <h3>Multi Level Marketing.</h3>
  </div>

  <div class="col-md-5 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0" style="margin-left: 513px;margin-top: -73px;" >
    <h3>Contact</h3>
    Multi Level Marketing, Pune 412210<br />
    Mob: <br />
    Email:multilevelmarketing@gmail.com  </div>

  <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0" style="margin-top: -157px;margin-left: 1155px;margin-right: -1081px;margin-bottom: 32px;">
    <h3 style="margin-left: -93px;">Follow Us</h3>

    <ul class="fh5co-social">
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon-google-plus"></i></a></li>
      <li><a href="#"><i class="icon-instagram"></i></a></li>
    </ul>
  </div>
</footer>
