<section class="content-header">
  <h1>{{pageTitle}}</h1>
</section>
<section class="content-header">
  <div class="form">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{{locale.student}}</h3>
      </div>
      <form class="form-horizontal" id="studentForm" #studentForm="ngForm" (ngSubmit)="addStudent(studentForm.value)">
        <div class="box-body">
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">{{formLocale.student_f_name}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{formLocale.student_f_name_placeholder}}"
                [disabled]="viewFlag || role==3" #firstName="ngModel" [(ngModel)]="student.firstName">
            </div>
            <label for="lastName" class="col-sm-2 control-label">{{formLocale.studengt_l_name}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{formLocale.studengt_l_name_placeholder}}"
                [disabled]="viewFlag || role==3" #lastName="ngModel" [(ngModel)]="student.lastName">
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
            <label for="fatherName" class="col-sm-2 control-label">{{formLocale.student_father_name}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="fatherName" name="fatherName" placeholder="{{formLocale.student_father_name_placeholder}}"
                [disabled]="viewFlag " #fatherName="ngModel" [(ngModel)]="student.fatherName">
            </div>
            <label for="fatherContactNo" class="col-sm-2 control-label">{{formLocale.student_father_contactNo}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="fatherContactNo" name="fatherContactNo" placeholder="{{formLocale.student_father_contactNo_placeholder}}"
                [disabled]="viewFlag" #fatherContactNo="ngModel" [(ngModel)]="student.fatherContactNo">
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
            <label for="motherName" class="col-sm-2 control-label">{{formLocale.studengt_mother_name}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="motherName" name="motherName" placeholder="{{formLocale.studengt_mother_name_placeholder}}"
                [disabled]="viewFlag " #motherName="ngModel" [(ngModel)]="student.motherName">
            </div>
            <label for="motherContactNo" class="col-sm-2 control-label">{{formLocale.student_mother_contactNo}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="motherContactNo" name="motherContactNo" placeholder="{{formLocale.student_mother_contactNo_placeholder}}"
                [disabled]="viewFlag" #motherContactNo="ngModel" [(ngModel)]="student.motherContactNo">
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
            <label for="guardianName" class="col-sm-2 control-label">{{formLocale.studengt_guardian_name}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="guardianName" name="guardianName" placeholder="{{formLocale.studengt_guardian_name_placeholder}}"
                [disabled]="viewFlag " #guardianName="ngModel" [(ngModel)]="student.guardianName">
            </div>
            <label for="guardianContactNo" class="col-sm-2 control-label">{{formLocale.student_guardian_contactNo}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="guardianContactNo" name="guardianContactNo" placeholder="{{formLocale.student_guardian_contactNo_placeholder}}"
                [disabled]="viewFlag" #guardianContactNo="ngModel" [(ngModel)]="student.guardianContactNo">
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
              <label for="emergencyContactNo" class="col-sm-2 control-label">{{formLocale.student_emergency_contactNo}}</label>
              <div class="col-sm-4">
                  <select class="form-control" id="emergencyContactNo" name="emergencyContactNo" [disabled]="viewFlag" #emergencyContactNo="ngModel" [(ngModel)]="student.emergencyContactNo">
                      <option value="" disabled selected>{{formLocale.student_emergency_contactNo_placeholder}}</option>
                      <option [ngValue]="">xyz</option>
                      <option [ngValue]="">asd</option>
                      <option [ngValue]="">qwe</option>
                    </select>
              </div>
            </div>
          <div class="form-group" >
            <label for="rollNo" class="col-sm-2 control-label">{{formLocale.student_roll}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="rollNo" name="rollNo" placeholder="{{formLocale.student_roll_placeholder}}" [disabled]="viewFlag || role==3"
                #rollNo="ngModel" [(ngModel)]="student.rollNo">
            </div>
            <label for="prn" class="col-sm-2 control-label">{{formLocale.student_prn}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="prn" name="prn" placeholder="{{formLocale.student_prn_placeholder}}" [disabled]="viewFlag || role==3 || role==2"
                #prn="ngModel" [(ngModel)]="student.prn">
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
              <label for="dob" class="col-sm-2 control-label">{{formLocale.student_dob}}</label>
            <div class="col-sm-4">
              <div class="input-group">
                  <div class="input-group-addon">
                      <a (click)="dob.toggle()"><i class="fa fa-calendar" ></i></a>
                    </div>
                <input class="form-control" placeholder="yyyy-mm-dd" name="dob" [(ngModel)]="student.dob" ngbDatepicker #dob="ngbDatepicker">
              </div>
            </div>
              <label for="bloodGroup" class="col-sm-2 control-label">{{formLocale.student_bloodG}}</label>
              <div class="col-sm-4">
                  <select class="form-control" id="bloodGroup" name="bloodGroup" [disabled]="viewFlag" #bloodGroup="ngModel" [(ngModel)]="student.bloodGroup">
                      <option value="" disabled selected>{{formLocale.student_bloodG_placeholder}}</option>
                      <option [ngValue]="'O-'">O-</option>
                      <option [ngValue]="'O+'">O+</option>
                      <option [ngValue]="'A-'">A-</option>
                      <option [ngValue]="'A+'">A+</option>
                      <option [ngValue]="'B-'">B-</option>
                      <option [ngValue]="'B+'">B+</option>
                      <option [ngValue]="'AB-'">AB-</option>
                      <option [ngValue]="'AB+'">AB+</option>
                    </select>
              </div>
            </div>
          <div class="form-group" *ngIf="!(role==3)">
              <label for="adharNo" class="col-sm-2 control-label">{{formLocale.student_adharNo}}</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="adharNo" name="adharNo" placeholder="{{formLocale.student_adharNo_placeholder}}" [disabled]="viewFlag"
                  #adharNo="ngModel" [(ngModel)]="student.adharNo">
              </div>
            <label for="address" class="col-sm-2 control-label">{{formLocale.student_address}}</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="address" name="address" placeholder="{{formLocale.student_address_placeholder}}" [disabled]="viewFlag"
                #address="ngModel" [(ngModel)]="student.address"></textarea>
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
            <label for="classId" class="col-sm-2 control-label">{{formLocale.student_class}}</label>
            <div class="col-sm-4">
              <select class="form-control" id="classId" name="classId" [disabled]="viewFlag" #classId="ngModel" [(ngModel)]="student.classId">
                <option value="" disabled selected>{{formLocale.student_class_placeholder}}</option>
                <option [ngValue]="">xyz</option>
                <option [ngValue]="">asd</option>
                <option [ngValue]="">qwe</option>
              </select>
            </div>
            <label for="divisionId" class="col-sm-2 control-label">{{formLocale.student_division}}</label>
            <div class="col-sm-4">
              <select class="form-control" id="divisionId" name="divisionId" [disabled]="viewFlag" #divisionId="ngModel" [(ngModel)]="student.divisionId">
                <option value="" disabled selected>{{formLocale.student_division_placeholder}}</option>
                <option [ngValue]="">xyz</option>
                <option [ngValue]="">asd</option>
                <option [ngValue]="">qwe</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="routeId" class="col-sm-2 control-label">{{formLocale.student_route}}</label>
            <div class="col-sm-4">
              <select class="form-control" id="routeId" name="routeId" [disabled]="viewFlag || role==2" #routeId="ngModel" [(ngModel)]="student.routeId">
                <option value="" disabled selected>{{formLocale.student_route_placeholder}}</option>
                <option [ngValue]="">xyz</option>
                <option [ngValue]="">asd</option>
                <option [ngValue]="">qwe</option>
              </select>
            </div>
            <label for="stopId" class="col-sm-2 control-label">{{formLocale.student_stop}}</label>
            <div class="col-sm-4">
              <select class="form-control" id="stopId" name="stopId" [disabled]="viewFlag || role==2" #stopId="ngModel" [(ngModel)]="student.stopId">
                <option value="" disabled selected>{{formLocale.student_stop_placeholder}}</option>
                <option [ngValue]="">xyz</option>
                <option [ngValue]="">asd</option>
                <option [ngValue]="">qwe</option>
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
            <label for="email" class="col-sm-2 control-label">{{formLocale.student_email}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="email" name="email" placeholder="{{formLocale.student_email_placeholder}}" [disabled]="viewFlag"
                #email="ngModel" [(ngModel)]="student.email">
            </div>
            <label for="password" class="col-sm-2 control-label">{{formLocale.student_pass}}</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="password" name="password" placeholder="{{formLocale.student_pass_placeholder}}"
                [disabled]="viewFlag" #password="ngModel" [(ngModel)]="student.password">
            </div>
          </div>
          <div class="form-group" *ngIf="!(role==3)">
            <label for="profile" class="col-sm-2 control-label">{{formLocale.student_profile}}</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" id="profile" name="profile" [disabled]="viewFlag" #profile="ngModel" [(ngModel)]="student.profile"
                accept="image/jpeg,image/png">
            </div>
            <div class="media-right">
              <img src="assets/images/Tushar_Upadhyay.jpg" class="media-object" style="width:80px">
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="button" class="btn btn-default" (click)="backToList()">{{formLocale.back_btn}}</button>
          <button *ngIf="action == 'new'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.submit_btn}}</button>
          <button *ngIf="action == 'view'" type="button" class="btn btn-info btn-info pull-right" (click)="backToList()">{{formLocale.ok_btn}}</button>
          <button *ngIf="action == 'edit'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.update_btn}}</button>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="modal modal-success fade" id="modal-success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{formLocale.modal_status}}</h4>
      </div>
      <div class="modal-body">
        <h5 *ngIf="action == 'new'">{{locale.student+formLocale.modal_add_msg}} </h5>
        <h5 *ngIf="action == 'edit'">{{locale.student+formLocale.modal_update_msg}} </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" (click)="backToList()">{{formLocale.ok_btn}}</button>
      </div>
    </div>
  </div>
</div>
