<html>
<head>

</head>
<body>

<div id="fh5co-page" style="background-image: url(../../assets/new.svg);right: -321px;left: 257px;margin-right: -29px;margin-left: -524px;">
<div class="container" >

  <div class="panel panel-primary" style="margin-top: 162px;">
    <div class="panel-heading" >Parent Allocation
      <form id="myfrm">
        <select name="pendingid" id="frm"  style="width: 30%;color: black;margin-left: 388px;">
          <option  value="">Select</option>


        </select>

      </form>

    </div>
    <div>


    </div>
    <form action="allocateParent.html">
      <div class="row">
        <div class="col-lg-6">




          <div class="panel-body">
            <span >Selected UserID:</span>
            &nbsp;&nbsp;&nbsp;
            <input name="userID" id="fName" type="" >
            <input name="id" id="ftName" type="hidden" >
          </div>
          <div class="panel-body">
            <span >  First Name: </span>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <input name="firstName" id="firstName" type="" >
          </div>
          <div class="panel-body">
            Last Name:
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <input name="lastName" type="" >
          </div>
          <div class="panel-body">
            Mobile:
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <input name="mobile" type="" >
          </div>
          <!--<a href="getParent.html">Get Parent Details</a>-->
        </div>

        <!--new -->

        <div class="col-lg-6">

          <div class="panel-body">
            City:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input name="city" id=""type="" >
          </div>

          <div class="panel-body">
            Select Parent:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <select name="parent"id="parent">
              <option value="" >Select</option>

            </select>
          </div>

          <div class="panel-body">
            Select Child:
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <select id="child" name="child">
              <option value="" >Select</option>
            </select>
          </div>

        </div>
      </div>
      <input type="submit" name="submit" id="submit" value="Submit"style="width: 30%;margin-left: 405px;"class="btn-info"/>
    </form>
  </div>
  <br>
</div>
</div>
</body>
</html>
