<section class="content-header">
    <h1>{{pageTitle}}</h1>
</section>
<section class="content-header">
<div class="form">
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{{locale.teacher}}</h3>
    </div>
    <form class="form-horizontal" id="teacherForm" #teacherForm="ngForm" (ngSubmit)="addTeacher(teacherForm.value)">
      <div class="box-body">

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">{{formLocale.teacher_name}}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="{{formLocale.teacher_name_placeholder}}" [disabled]="viewFlag" #name="ngModel" [(ngModel)]="teacher.name" >
          </div>
        </div>

        <div class="form-group">
          <label for="age" class="col-sm-2 control-label">{{formLocale.teacher_age}}</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="age" name="age" placeholder="{{formLocale.teacher_age_placeholder}}" [disabled]="viewFlag" #age="ngModel" [(ngModel)]="teacher.age">
          </div>
        </div>
        <div class="form-group">
          <label for="contactNo" class="col-sm-2 control-label">{{formLocale.teacher_mobile}}</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="{{formLocale.teacher_mobile_placeholder}}" [disabled]="viewFlag" #contactNo="ngModel" [(ngModel)]="teacher.contactNo">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">{{formLocale.teacher_email}}</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="email" name="email" placeholder="{{formLocale.teacher_email_placeholder}}" [disabled]="viewFlag" #email="ngModel" [(ngModel)]="teacher.email">
          </div>
        </div>
        <div class="form-group">
            <label for="profile" class="col-sm-2 control-label">{{formLocale.teacher_profile}}</label>

            <div class="col-sm-8">
              <input type="file" class="form-control" id="profile" name="profile" [disabled]="viewFlag" #profile="ngModel" [(ngModel)]="teacher.profile" accept="image/jpeg,image/png">
            </div>
            <div class="media-right">
              <img src="assets/images/Tushar_Upadhyay.jpg" class="media-object" style="width:60px">
            </div>
          </div>
        <div class="form-group">
          <label for="position" class="col-sm-2 control-label">{{formLocale.teacher_position}}</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="position" name="position" placeholder="{{formLocale.teacher_position_placeholder}}" [disabled]="viewFlag" #position="ngModel" [(ngModel)]="teacher.position">
          </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">{{formLocale.teacher_address}}</label>

            <div class="col-sm-10">
              <textarea class="form-control" id="address" name="address" placeholder="{{formLocale.teacher_address_placeholder}}" [disabled]="viewFlag" #address="ngModel" [(ngModel)]="teacher.address"></textarea>
            </div>
          </div>
        <div class="form-group">
          <label for="userName" class="col-sm-2 control-label">{{formLocale.teacher_user_name}}</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="userName" name="userName" placeholder="{{formLocale.teacher_user_name_placeholder}}" [disabled]="viewFlag" #userName="ngModel" [(ngModel)]="teacher.userName">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">{{formLocale.teacher_pass}}</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="password" name="password" placeholder="{{formLocale.teacher_pass_placeholder}}" [disabled]="viewFlag" #password="ngModel" [(ngModel)]="teacher.password">
          </div>
        </div>
        <div class="form-group">
          <label for="imei" class="col-sm-2 control-label">{{formLocale.teacher_imei}}</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="imei" name="imei" placeholder="{{formLocale.teacher_imei_placeholder}}" [disabled]="viewFlag" #imei="ngModel" [(ngModel)]="teacher.imei">
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="button" class="btn btn-default" (click)="backToList()">{{formLocale.back_btn}}</button>
          <button *ngIf="action === 'new'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.submit_btn}}</button>
          <button *ngIf="action === 'view'" type="button" class="btn btn-info btn-info pull-right" (click)="backToList()">{{formLocale.ok_btn}}</button>
          <button *ngIf="action === 'edit'" type="submit" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-success">{{formLocale.update_btn}}</button>
        </div>
    </form>
  </div>
</div>
</section>
<div class="modal modal-success fade" id="modal-success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Status</h4>
      </div>
      <div class="modal-body">
        <h5 *ngIf="action === 'new'">{{locale.bus}} is added successfully.</h5>
        <h5 *ngIf="action === 'edit'">{{locale.bus}} is updated successfully.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
