<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="dashboard">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
          </li>
          <li class="header">CLASSROOM and STAFF</li>
          <li>
              <a href="classes">
                <i class="fa fa-university"></i> <span>Class</span>
              </a>
            </li>
            <li>
                <a href="teachers">
                  <i class="fa fa-users"></i> <span>Teachers</span>
                </a>
              </li>
              <li>
                  <a href="students">
                    <i class="fa fa-child"></i> <span>Students</span>
                  </a>
                </li>
                <li>
                    <a href="attendance">
                      <i class="fa fa-check"></i> <span>Attendance</span>
                    </a>
                  </li>
                  <li>
                      <a href="homeWork">
                        <i class="fa fa-pencil"></i> <span>Home Work</span>
                      </a>
                    </li>
                    <li>
                        <a href="timeTable">
                          <i class="fa fa-table"></i> <span>Time Table</span>
                        </a>
                      </li>

                        <li class="treeview">
                            <a href="results">
                              <i class="fa fa-server"></i> <span>Results</span>
                            </a>
                          </li>
                      <li class="header">TRANSPORTATION</li>
                  <li>
                  <a href="#">
                    <i class="fa fa-user"></i> <span>Drivers</span>
                  </a>
                </li>
                <li>
                    <a href="#">
                      <i class="fa fa-bus"></i> <span>Buses</span>
                    </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="fa fa-map-o"></i> <span>Routes</span>
                      </a>
                    </li>
                    <li class="header">UTILITIES</li>
                    <li>
                        <a href="#">
                          <i class="fa fa-book"></i> <span>Library</span>
                        </a>
                      </li>
                    <li class="treeview">
                        <a href="gallery">
                          <i class="fa fa-image"></i> <span> Gallery</span>
                        </a>
                      </li>
                      <li>
                          <a href="#">
                            <i class="fa fa-calendar"></i> <span>Calendar</span>
                          </a>
                        </li>
                      <li>
                          <a href="#">
                            <i class="fa fa-bell-o"></i> <span>Notifications</span>
                          </a>
      </ul>
    </section>
  </aside>
