<aside class="main-sidebar" [hidden]="!checkLogin()">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">{{locale.name_nav}}</li>
      <li>
        <a routerLink="dashboard">
          <i class="fa fa-dashboard"></i>
          <span>{{locale.name_dashboard}}</span>
        </a>
      </li>
      <li class="treeview" *ngFor="let menu of menus">
        <a href="#">
          <i class="{{menu.css}}"></i>
          <span>{{locale[menu.parent]}}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let sub of menu.child">
            <a routerLink="{{sub.ref}}"  routerLinkActive="active">
              <i class="fa fa-hand-o-right"></i> {{locale[sub.name]}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
