<html>
<head>


</head>
<body>
<div id="fh5co-page" style="background-image: url(../../assets/new.svg);right: -321px;left: 257px;margin-right: 117px;margin-left: -379px;">
<div class="containter">
  <div clas="row">
<div calss='col-sm-6 col-sm-offset-3'>
<carousel class="text-center">
  <slide>
    <img class='img-main-carousel' src="../../assets/1.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
        <div class="slider-text-inner">
          <h2 style="margin-top: -480px;color: #cc0000;font-size: 70px">Start Your Startup With Our Company</h2>
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <img class='img-main-carousel' src="../../assets/2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
        <div class="slider-text-inner">
          <h2 style="margin-top: -496px;color: #cc0000;font-size: 70px">Take Your Business To The Next Level</h2>
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <img class='img-main-carousel' src="../../assets/3.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
        <div class="slider-text-inner">
          <h2 style="margin-top: -443px;color: #cc0000;font-size: 70px">We Think Different That Others Can</h2>
        </div>
      </div>
    </div>
  </slide>
</carousel>
</div>
  </div>
</div>
<div class="container-fluid" height="650px" width="1500px"><!--<img src="images/ex1.jpg" alt="" class="img-responsive" style="width: 1500px">-->
  <div class="fh5co-box animate-box" height="650px" width="1500px" >
    <div class="row" style="background-color: #00b3ee;margin-left: -142px;margin-right: -135px;">
      <div class="col-md-6" style="left: 18px;">
        <img class="img-rounded" src="../../assets/VI.jpg" style="height:120px; width: 300px;margin-top: 15px;margin-left: 113px;" />
        <h3 style="margin-left: 120px;">Mission</h3>

        <p style="color: #000;margin-left: 105px;">&ldquo;For every minute spent in organizing, an hour is earned. &rdquo; Company Name &quot; gives a life time opportunity and constantly to make every individual costumer financially self -reliant, economically and socially strong through the self help Team Concept. Separated they live in Bookmarksgrove.</p>
      </div>

      <div class="col-md-6" style="left: 4px;right: -8px;padding-right: 142px;">
        <img class="img-rounded" src="../../assets/MI.jpg" style="height:120px; width: 300px;margin-top: 15px" />
        <h3>Vision</h3>

        <p style="color: #000">Our vision is to produce creative professional in the field of MLM industry&rdquo;Company Name&quot; &quot;provide you powerful platform &amp; to provide them best environment to act and achieve big as well as to create your present and future to bring happiness in your life.</p>
      </div>
    </div>
    <!--<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started <i class="icon-arrow-right"></i></a></p>--></div>
</div>
</div>
</body>
</html>
