<html>
<head>

</head>
<body>
<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary" style="margin-top: 152px;">
      <div class="panel-heading">LOGIN PAGE</div>
      <div class="panel-body">

        User Id:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"><br><br>

        <input type="submit" value="Reset Password"style="color: #23527c" class="btn-block btn-danger"><br>

        <a [routerLink]="['/login']">Back to Login</a><br>

      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>

</body>
</html>
